language: node_js

node_js:
  - "12"

cache: yarn

script:
  - yarn docs:build

deploy:
  provider: pages
  local-dir: public
  skip-cleanup: true
  target-branch: gh-pages
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  committer-from-gh: true
  on:
    branch: master
